In [ ]:
print("day-3")

day-3

In [1]:
t1 = (10,20,"ntt",2.5)
print(t1)

(10, 20, 'ntt', 2.5)

In [2]:
print(type(t1))

<class 'tuple'>

In [3]:
# Constructor tuple
t2 = tuple((10,20,"ntt",2.5))
print(t2)

(10, 20, 'ntt', 2.5)

In [5]:
# Constructor tuple - passing list (check internal braces)
t3 = tuple([10,20,"ntt",2.5])
print(t3)
print(type(t3))

(10, 20, 'ntt', 2.5)
<class 'tuple'>

In [8]:
t4 = tuple("deepak")
print(t4)
#but it thows an error with integer, because the int value is not itertable
# t5 = tuple(10)
# print(t5)

# but you can create tuple with one element with a comma
t6 = tuple((10,))
print(t6)

('d', 'e', 'e', 'p', 'a', 'k')
(10,)

In [29]:
t7 = tuple((25,35,45,55))
print(t7[1])
print(t7[-2])
print(t7[1:3])
print(t7[1:])
print(t7[:3])

35
45
(35, 45)
(35, 45, 55)
(25, 35, 45)

In [30]:
t7 = tuple((25,35,45,55))
if 35 in t7:
    print("yes")
else:
    print("no")

yes